default: &default
  adapter: postgresql
  encoding: unicode
  user: user
  password: 123
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: users_app_development

test:
  <<: *default
  database: users_app_test

production:
  <<: *default
  database: users_app_production
  username: user
  password: <%= ENV['USERS_APP_DATABASE_PASSWORD'] %>
